<footer class="footer">
  <div class="container">
    <ul class="nav-sub row">
      <li>
        <ul>
          <li class="title"><a href="#" alt="청년허브 소개"><img src="../img/logo-17.png" width="110px"></a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li class="title"><a href="#">청년커뮤니티 지원사업 청년참</a></li>
          <li>
            문의 | cham@youthhub.kr
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li class="title"><a href="http://youthhub.kr" target="_blank" alt="청년허브">
            <img src="../img/footer-04.png" width="90px">
          </a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li class="title"><a href="https://www.facebook.com/youthhubpage" target="_blank" alt="청년허브 페이스북">
            <img src="../img/footer-05.png" width="90px">

          </a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li class="title"><a href="https://www.facebook.com/groups/youthcham/" target="_blank" alt="청년참 페이스북">
            <img src="../img/footer-06.png" width="90px">
          </a></li>
        </ul>
      </li>
    </ul>
  </div>
</footer>