<footer role="contentinfo">
  <div id="inner-footer" class="clearfix">
    <div id="widget-footer" class="clearfix row">
    </div>
    <div class="container">
      <div class="col-md-6 info">
        <img src="http://imageshack.com/a/img674/6687/iE6Mn4.png" class="pull-left footer-logo">
        <nav class="clearfix">
          <ul>
            <li class="pull-left">
              <a href="#" alt="청년허브 소개">청년커뮤니티 지원사업 청년참</a>
            </li>
          </ul>
          <!---->
        </nav>
        <p>
          문의 cham@youthhub.kr
        </p>
      </div>
      <!-- end .col-md-6 -->
      <div class="col-md-6">
        <ul class="pull-right sns">
          <li class="pull-left">
            <a href="http://youthhub.kr" target="_blank" alt="청년허브">
              <img src="http://imageshack.com/a/img673/3331/0KhNQy.png">

            </a>
          </li>
          <li class="pull-left">
            <a href="https://www.facebook.com/youthhubpage" target="_blank" alt="청년허브 페이스북">
              <img src="http://imagizer.imageshack.us/a/img540/4836/5ARWfZ.png">

            </a>
          </li>
          <li class="pull-left">
            <a href="https://www.facebook.com/groups/youthcham/" target="_blank" alt="청년참 페이스북">
              <img src="http://imagizer.imageshack.us/a/img674/4375/W6NAxC.png">

            </a>
        </ul>
      </div>
      <!-- end .col-md-6 -->
    </div>
    <!-- end .container -->
    <!-- <p class="attribution">&copy; 청년참</p> -->
  </div>
  <!-- end #inner-footer -->

</footer> <!-- end footer -->