<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/reset.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="css/detail.css"/>

</head>
<body>
<%= erb :header %>

<div class="row" style="margin-top:100px;margin-bottom:100px;">
  <div class="col-md-6 col-md-offset-3">
    <form action="/send_new_password_email" class="form-horizontal" role="form" method="POST">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">이메일</label>

        <div class="col-sm-10">
          <input name="email_recv" type="email" class="form-control" id="inputEmail3" placeholder="이메일">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">전송</button>
        </div>
      </div>
    </form>
  </div>
</div>

<%= erb :footer %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/main.min.js"></script>

<script type="text/javascript">window._pageName = 'welcome';</script>
<script type="text/javascript" src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/smooth-scroll.min.js"></script>

</body>
</html>
