<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="http://imageshack.com/a/img537/9037/FrHosX.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/notice">알립니다</a></li>

        <% if !session[:email].nil? %>
            <li><a href="/budget">예산공지</a></li>
        <% end %>
        <li><a href="/">커뮤니티 소개</a></li>
        <li><a href="/">커뮤니티 일상</a></li>
        <li><a href="https://www.flickr.com/photos/98964704@N03/sets/">앨범</a></li>
      </ul>
      <% if !session[:email].nil? %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/<%= @user.n_name %>"><%= @user.n_name %></a></li>
            <li><a href="/logout">로그아웃</a></li>
          </ul>
      <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">로그인</a></li>
            <li><a href="/join">회원가입</a></li>
          </ul>
      <% end %>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>