<!DOCTYPE html>
<html>
<head>
  <title>청년참</title>
  <link rel='stylesheet' id='bootstrap-css'  href='http://kgreens.org/wp-content/themes/wordpress-bootstrap-master/library/css/bootstrap.css?ver=1.0' type='text/css' media='all' />

</head>
<body>
<%= erb :header %>

<p>말이 통하는 친구들과 작당하여 뭔가를 시도하려고 할 때! 갈 곳이 없어 길모퉁이에서 떠들던 기억,
  사먹기 부담스러워 도시락을 싸와 나눠먹은 기억,
  1박 2일 워크숍을 가기 위해 아끼고 아꼈던 기억, 프린터가 없어 종이에 꼬깃꼬깃 적어 다니던 기억까지. 가진 게 없기에 해볼 수 있었던 소중한 경험입니다. 하지만 “이거 해볼까?” 신나게 아이디어를 주고받다가도
  우리를 좌절시킨 한마디가 있습니다. “근데 돈은 있어?”
</p>

<p>
  청년참이 응원합니다.
  친구들과 유쾌한 수다를 계속할 수 있도록
  시도하고 실험하는 과정에서 배우며 성장할 수 있도록
  빙 둘러앉아 ‘참’을 먹으며 쉬고 노래부르고 또 같이 힘을 낼 수 있도록 세 명 이상 모인 커뮤니티에 연간 최대 100만원의 새참을 지원합니다.
</p>

<p>
  대상
  문화예술, 사회적경제, 생태환경, 학습모임 등 자신이 살고 있는 지역과 사회의 변화를 위해 즐겁게 활동하는 모임을 자발적으로 기획하고 움직이는 최소 3인 이상의 청년커뮤니티
</p>

<p>
  지원방법
  매월 1일~20일 온라인 접수 그룹인터뷰 진행
</p>

<p>
  지원내용
  연간 최대 100만원
</p>

<p>
  문의하기
</p>
<%= erb :footer %>
</body>
</html>
