<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta charset="utf-8">
  <title>청년참</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="reset.css"/>
  <link rel="stylesheet" href="main.css"/>
  <link rel="stylesheet" href="detail.css"/>
  <script src="redirect.js"></script>
</head>
<body>
<%= erb :header %>
<div class="container">

  <div id="carousel-top" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs">

      <li class="active" data-target="#carousel-top" data-slide-to="0"></li>

      <li data-target="#carousel-top" data-slide-to="1"></li>

      <li data-target="#carousel-top" data-slide-to="2"></li>

      <li data-target="#carousel-top" data-slide-to="3"></li>

    </ol>

    <!-- Wrapper for slides -->

    <div class="carousel-inner carousel-top">
      <div class="item active" style="background-image: url('http://imageshack.com/a/img904/4660/GUMNA8.jpg')">
        <img src="http://imageshack.com/a/img904/4660/GUMNA8.jpg" alt="We stretch">

        <div class="carousel-caption">
          <h1 class="title">청년커뮤니티
            지원사업</h1>
          <p>
            <img src="http://imageshack.com/a/img901/4168/GPTFfv.png"></p>
        </div>
      </div>
      <div class="item" style="background-image: url('http://imageshack.com/a/img903/3017/Zw8WTC.jpg')">
        <img src="http://imageshack.com/a/img903/3017/Zw8WTC.jpg" alt="We get it done">

        <div class="carousel-caption">
          <h1 class="title">청년커뮤니티
            지원사업</h1>

          <p>
            <img src="http://imageshack.com/a/img901/4168/GPTFfv.png"></p>
        </div>
      </div>
      <div class="item" style="background-image: url('http://imageshack.com/a/img538/1077/pduFZ7.jpg')">
        <img src="http://imageshack.com/a/img538/1077/pduFZ7.jpg" alt="We stand up">

        <div class="carousel-caption">
          <h1 class="title">청년커뮤니티
            지원사업</h1>

          <p>
            <img src="http://imageshack.com/a/img901/4168/GPTFfv.png"></p>
        </div>
      </div>
      <div class="item" style="background-image: url('http://imageshack.com/a/img538/1563/fLSPzR.jpg')">
        <img src="http://imageshack.com/a/img538/1563/fLSPzR.jpg" alt="We delight">

        <div class="carousel-caption">
          <h1 class="title">청년커뮤니티
            지원사업</h1>

          <p>
            <img src="http://imageshack.com/a/img901/4168/GPTFfv.png"></p>
        </div>
      </div>
    </div>
  </div>
  <section class="section bg-orange how-we-work clearfix">
    <div class="col-md-6 col-sm-5 hidden-xs graphic-ct">
      <img src="https://imagizer.imageshack.us/v2/325x319q90/633/JR4tHI.png" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 col-sm-7">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
        <p>
          말이 통하는 친구들과 작당하여 뭔가를 시도하려고 할 때! 갈 곳이 없어 길모퉁이에서 떠들던 기억,
          사먹기 부담스러워 도시락을 싸와 나눠먹은 기억,
          1박 2일 워크숍을 가기 위해 아끼고 아꼈던 기억, 프린터가 없어 종이에 꼬깃꼬깃 적어 다니던 기억까지. 가진 게 없기에 해볼 수 있었던 소중한 경험입니다. 하지만 “이거 해볼까?” 신나게
          아이디어를
          주고받다가도
          우리를 좌절시킨 한마디가 있습니다. “근데 돈은 있어?”
        </p>
      </div>
    </div>
  </section>
  <section class="section bg-orange how-we-work clearfix">
    <div class="col-md-6 col-sm-5 hidden-xs graphic-ct">
      <img src="https://imagizer.imageshack.us/v2/325x187q90/673/Rerd4N.png" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 col-sm-7">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
        <h3 class="title">청년참이 응원합니다.</h3>

        <p>
          친구들과 유쾌한 수다를 계속할 수 있도록
          시도하고 실험하는 과정에서 배우며 성장할 수 있도록
          빙 둘러앉아 ‘참’을 먹으며 쉬고 노래부르고 또 같이 힘을 낼 수 있도록 세 명 이상 모인 커뮤니티에 연간 최대 100만원의 새참을 지원합니다.
        </p>
      </div>
    </div>
  </section>

  <section class="section bg-orange application-info">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="title">대상</h3>

          <p>문화예술, 사회적경제, 생태환경, 학습모임 등 자신이 살고 있는 지역과 사회의 변화를 위해 즐겁게 활동하는 모임을 자발적으로 기획하고 움직이는 최소 3인 이상의 청년커뮤니티</p>
        </div>
        <div class="col-md-4">
          <h3 class="title">지원방법</h3>

          <p>매월 1일~20일 온라인 접수 그룹인터뷰 진행</p>
        </div>
        <div class="col-md-4">
          <h3 class="title">지원내용</h3>

          <p>연간 최대 100만원</p>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="text-center">
        <a class="btn btn-lg btn-primary" href="mailto:cham@youthhub.kr" role="button">문의하기</a>
      </p>
    </div>
  </section>
</div>

<%= erb :footer %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/main.min.js"></script>

<script type="text/javascript">window._pageName = 'welcome';</script>
<script type="text/javascript" src="https://d3ahn172ndlj85.cloudfront.net/jobs/static/js/smooth-scroll.min.js"></script>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2156578-3']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>
